{
	"presets": [
		"react"
	],
	"env": {
		"development": {
			"plugins": [
				"transform-object-rest-spread",
				"transform-class-properties",
				"transform-es2015-classes",
				"react-hot-loader/babel"
			]
		},
		"production": {
			"plugins": [
				"transform-object-rest-spread",
				"transform-class-properties"
			]
		}
	}
}
